@model rodri_movie_mvc.ViewModels.MiPerfilViewModel


<style>
    .profile-card {
        max-width: 400px;
        width: 100%;
    }

    .profile-image-container {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }

        .profile-image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .material-symbols-outlined {
        vertical-align: middle;
        font-size: 20px;
    }
</style>

<div class="container d-flex flex-column align-items-center p-4">
    <div class="card profile-card shadow-sm border">
        <div class="card-body p-4 p-md-5">
            <div class="text-center mb-4">
                <div class="profile-image-container mb-3">
                    <img alt="Imagen de perfil" class="rounded-circle border border-4 border-light shadow-sm" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDIZq9yQ9aQ2vFQeW545-hcJ8CKj_afLvUCt3q_cUMrjlIz2q4NmX9lIp8G-Ly09mtTvYYVSH2Qq0wtMPnD03Qkvvb8ChZFqZwvnYZniet6uoFR77L46C6bTz4NnvbQc5jt6z67u8Jj604yymH9os1KilZZn46TRtfc7BBqw02AjcjNq-kQjVpTBImlddfJj97yPZJkQsO20iG3IVUv3XNuzvh7FlvXwoD-UGVGZMh67YD2rp8HRBoe-sdI8ZZw-D95zoYRK7lFdifw" />
                </div>
                <a class="text-decoration-none small fw-medium" href="#">Cambiar Foto</a>
            </div>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" for="Nombre">Nombre</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Rodrigo" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Apellido">Apellido</label>
                    <input asp-for="Apellido" class="form-control" placeholder="Tabó" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input asp-for="Email" class="form-control" disabled placeholder="juan.perez@example.com" />
                </div>
                <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-2 py-2" type="submit">
                    Guardar Cambios
                </button>
            </form>
        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.Mensaje
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        </div>
    </div>
</div>